:root {
    --primary-color: #161616;
    --secondary-color: #d2d2d2;
    --dark-color: #434343;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code, pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

.search {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    padding: 6px 10px;
}

.searchButton {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: #fff;
    fill: currentColor;
    width: 44px;
    height: 44px;
    padding: 10px;
}