.signUp .container {
    max-width: 550px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.signUp .grid {
    grid-template-columns: repeat(2, 1fr);
}

.signUp .grid-3 {
    grid-template-columns: repeat(3, 1fr)
}

.signUpText {
    width: 150px;
    background-color: #fff;
    color: #333;
    font: sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border-color: #101010;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 16px 50px 16px 20px;
    margin: 16px;
}

.signUpTextLarge {
    width: 285px;
    background-color: #fff;
    color: #333;
    font: sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border-color: #101010;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 16px 200px 16px 20px;
    margin: 16px;
}

.signUpState {
    width: 20px;
    background-color: #fff;
    color: #333;
    font: sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border-color: #101010;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 16px 16px;
    margin: 16px;
}

.signUpTextZip {
    width: 110px;
    background-color: #fff;
    color: #333;
    font: sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border-color: #101010;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 16px 20px;
    margin: 16px;
}

.signUp .btn {
    width: 510px;
    display: inline-block;
    padding: 16px 128px;
    font: sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #d9d9d9;
    border: none;
    border-radius: 5px;
    margin: 16px;
}

.signUp .btn:hover {
    transform: scale(.98);
}